<html>

<head>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="header-wrap">
                <div class="left-container">
                    <div class="logo-wrap">
                        <a href="https://graycelltech.in/gct/workout-gpt/"><img src="{{ url_for('static', filename='images/MY-WORKOUT-GPT.png') }}" /></a>
                        <div class="header-text">
                            <h1>Unleash Your Potential: Elevate Your Fitness Journey with GPT Workouts!</h1>
                            <p>Welcome to the cutting-edge of fitness innovation! Our GPT-powered workout platform brings a revolution to your training regimen. Say goodbye to generic routines and hello to personalized workouts crafted just for you. Our advanced algorithms analyze your goals, fitness level, and preferences to design workouts that maximize your potential and keep you motivated. Whether you're aiming to build muscle, torch fat, or enhance endurance, our GPT technology ensures every session is optimized for results. Join us on this journey to unlock your ultimate fitness potential and transform your body like never before!!</p>
                            <button class="btn-1">Take to your PRO..</button>
                        </div>
                    </div>
                </div>
                <div class="right-container">
                    <div class="img-cycling">
                        <img src="{{ url_for('static', filename='images/running.png') }}" />
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="banner" id="proSection">
        <div class="banner-section">
            <h2><strong>As your dedicated fitness coach/instructor, I offer expert guidance to address any challenges you may encounter on your fitness journey.</strong></h2>
            <p>Please share the specific challenges you're encountering, whether it's refining your fitness routine, staying consistent, enhancing your workouts, or choosing the optimal gym to increase your power. Let's delve into these challenges together and work towards elevating your fitness journey!.</p>
            <div class="form-gpt">
                <form action="{{ url_for('query_activities') }}" method="post">
                    <textarea name="question" rows="1" placeholder="Message Workout GPT"></textarea>
                    <button type="submit" class="btn-submit">Submit</button>
                </form>
            </div>
            <div class="question-cloud">
                <p>Example Questions:</p>
                <ul>
                    <li>"How many times did I cycle in the past 6 months?"</li>
                    <li>"Provide pace analysis of my last 10 runs."</li>
                    <li>"How many of my runs are greater than 20 km?"</li>
                </ul>
            </div>
            



            <!-- Connect with Strava Button -->
            <div class="connect-strava-btn">
                <a href="https://www.strava.com/oauth/authorize?client_id=120425&response_type=code&redirect_uri=http://192.168.1.37:5000/exchange_token&approval_prompt=force&scope=read_all,profile:read_all,activity:read_all">
                <img width="290px" height="96px" src="{{ url_for('static', filename='images/btn-strava.svg') }}" /></a>
            </div>
            <!-- Displaying Answers -->
            {% if answer %}
                <div class="answers" style="color: black; margin-top: 20px;">
                    {{ answer|safe }}
                </div>
            {% endif %}
        </div>
    </section>

    <section class="form-enquiry-section">
        <div class="form-enquiry">
            <div>
                <h2>Say, Hello!</h2>
                <p>(Be nice, I'm a delicate flower)</p>

                {% if thank_you_message %}
                <div class="thank-you-message">
                    <p>{{ thank_you_message }}</p>
                </div>
                {% elif error_message %}
                <div class="error-message">
                    <p>{{ error_message }}</p>
                </div>
                {% endif %}
                
                <!-- Update the form action to submit_form and method to POST -->
                <form action="{{ url_for('submit_form') }}" method="post">
                    <!-- Add the 'name' attribute to each input so Flask can access the data -->
                    <input type="text" name="name" class="text" placeholder="Name" required>
                    <input type="email" name="email" class="text" placeholder="Email" required>
                    <textarea name="message" class="text" placeholder="Message" required></textarea>
                    <!-- Change type to 'submit' to ensure the form is submitted -->
                    <input type="submit" class="button" value="Send Message">
                </form>
            </div>
        </div>
        <div class="content-footer">
            <p>&#169; 2024 My Workout GPT. All Rights Reserved.</p>
            <p>Powered by GrayCell Technologies</p>
        </div>
    </section>
    <script src="{{ url_for('static', filename='js/btn.js') }}"></script>
</body>

</html>
